<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumercé y tá</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/cart.css" />
    <link rel="stylesheet" href="/static/css/product.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5cd85102cd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
   <%- include( './partials/header' ) %> 
    <main>
      <section>
        <div class="carousel"></div>
      </section>
      <section class="copy-visual">
        <div>
          <i class="far fa-credit-card"></i>
          <h5>MEDIOS DE PAGOS</h5>

          <p>Tarjetas de crédito y débito</p>

        </div>
        <div>
          <i class="fas fa-eye-slash"></i>
          <h5>COMPRAS SEGURAS</h5>
          <p>Protejemos tus datos financieros</p>
        </div>
        <div>
          <i class="fas fa-plane-departure"></i>
          <h5>ENVÍOS RÁPIDOS</h5>
          <p>Despachos a todas las regiones</p>
        </div>

      </section>
        <section>
      <div class="copy-recomendados no-view-mobile-web">
        <p>
          <i class="fas fa-award"></i> RECORRE COLOMBIA
          <i class="fas fa-award"></i>
        </p>
        <p>Recomendado para ti</p>
        </section>

    

      <section class="recomendados">
        <div>
          <img src="/static/images/<%=products[0].photo%>" alt="Jean" />

          <a href="products/carrito"><button class="btn-add-to-cart">COMPRAR</button></a>
        </div>

        
        <div class="copy-recomendados ">
          
          <p  class="no-tablet">
            <i class="fas fa-award"></i> RECORRE COLOMBIA
            <i class="fas fa-award"></i>
          </br>Recomendado para ti</p>
        </div>
        <div >
          <img src="/static/images/<%=products[0].photo%>" alt="Jean" class="no-view-mobile"/>
          <a href="products/carrito"><button class="no-view-mobile btn-add-to-cart">COMPRAR</button></a>
        </div>   


     

      </section>
      <section class="video">
        <iframe
          src="https://www.youtube.com/embed/r6T0J90CZY0"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
      <section class="recomendados">
        <% for(let i = 0; i<3; i++){ %>
          <div>

            <img src="/static/images/<%=products[0].photo%>" alt="Jean"  class="no-view-mobile " /><a href="products/carrito"><button  class="no-view-mobile btn-add-to-cart">COMPRAR</button></a>
  
           
  
          </div>
        <% } %> 
      </section>
    </main>
    <%- include( './partials/footer' ) %> 
  </body>
</html>
