<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumercé y tá</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/admproduct.css" />
    <link rel="stylesheet" href="/static/css/cart.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5cd85102cd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2 class="titulo-crear"> Crear Producto  </h2>
    <div class="errors">
      <ul>
        
      </ul>
    </div>
    <form
      id="form-crear"
      action="/products/admproducto/create"
      method="POST"
      enctype="multipart/form-data"
    >
      <fieldset>
        <label for="name">Nombre :</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Nombre del producto."
          class="<%= locals.errors && errors.name ? 'is-invalid': null %>"
          value="<%= locals.oldData && oldData.name ? oldData.name : null %>"
        /><% if (locals.errors && errors.name) { %>
        <p class="error-form"><%=errors.name.msg%></p>
        <% } %>
      </fieldset>
      <fieldset>
        <label for="description">Descripción :</label>
        <input
          type="textarea"
          name="description"
          id="description"
          placeholder="Descripción del producto."
          class="<%= locals.errors && errors.description ? 'is-invalid': null %>"
          value="<%= locals.oldData && oldData.description ? oldData.description : null %>"
        /><% if (locals.errors && errors.description) { %>
        <p class="error-form"><%=errors.description.msg%></p>
        <% } %>
      </fieldset>
      <fieldset>
        <label for="photo">Foto :</label>
        <input type="file" name="photo" id="photo" accept=".jpg, .png, .sgv" />
      </fieldset>
      <fieldset>
        <label>Categoría :</label>
        <select
        id="categories"
          name="categories"
          class="<%= locals.errors && errors.categories ? 'is-invalid': null %>"
        >
          <option value="">Seleccionar...</option>
          <% categorias.forEach(categoria=>{%>
          <option value="<%= categoria.idcategory %>" 
            <%= locals.oldData && oldData.categories && parseInt(oldData.categories) === categoria.idcategory ? "selected" : null %>
            >
            <%= categoria.category %>
          </option>
          <% }) %>
        </select><% if (locals.errors && errors.categories) { %>
          <p class="error-form"><%=errors.categories.msg%></p>
          <% } %>
      </fieldset>

      <fieldset>
        <label for="">Talla :</label>
        <div class="modal-mr">
          <% tallas.forEach(talla=>{ %>
          <label for="<%= talla.size %>"><%= talla.size %> :</label>
          <input
            type="checkbox"
            id="<%= talla.size %>"
            name="sizes"
            value="<%= talla.idsize %>"
            class="<%= locals.errors && errors.sizes ? 'is-invalid': null %>"
            <% if (locals.oldData && oldData.sizes){oldData.sizes.forEach(size=>{ %>
            <%= parseInt(size) === talla.idsize ? "checked" : null %>
            <% })} %>
          />
        </div>
        <% }) %>
        <% if (locals.errors && errors.sizes) { %>
          <p class="error-form"><%=errors.sizes.msg%></p>
        <% } %>
      </fieldset>
      <fieldset>
        <label>Tonalidad :</label>
        <% tonalidades.forEach(tonalidad=>{ %>
        <div class="modal-mr">
          <label for="<%= tonalidad.color%>"><%= tonalidad.color%> :</label>
          <input
            type="checkbox"
            id="<%= tonalidad.color%>"
            name="colors"
            value="<%= tonalidad.idcolor%>"
            class="<%= locals.errors && errors.colors ? 'is-invalid': null %>"
            <% if (locals.oldData && oldData.colors){oldData.colors.forEach(color=>{ %>
              <%= parseInt(color) === tonalidad.idcolor ? "checked" : null %>
            <% })} %>
          />
        </div>
        <% }) %>
        <% if (locals.errors && errors.colors) { %>
          <p class="error-form"><%=errors.colors.msg%></p>
        <% } %>
      </fieldset>

      <label for="price">Precio :</label>
      <input
        type="text"
        id="price"
        placeholder="Precio del producto."
        name="price"
        class="<%= locals.errors && errors.price ? 'is-invalid': null %>"
        value="<%= locals.oldData && oldData.price ? oldData.price.toString() : null %>"
      />
      <% if (locals.errors && errors.price) { %>
        <p class="error-form"><%=errors.price.msg%></p>
      <% } %>
      <button type="submit" class="button-products">Agregar</button>
    </form>
  </body>
</html>
