<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumercé y tá</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/admproduct.css" />
    <link rel="stylesheet" href="/static/css/cart.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5cd85102cd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2 class="titulo-crear">Crear Producto</h2>
    <form
      action="/products/admproducto/create"
      method="POST"
      enctype="multipart/form-data"
    >
      <fieldset>
        <label for="name">Nombre :</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Nombre del producto."
        />
      </fieldset>
      <fieldset>
        <label for="description">Descripción :</label>
        <input
          type="textarea"
          name="description"
          id="description"
          placeholder="Descripción del producto."
        />
      </fieldset>
      <fieldset>
        <label for="photo">Foto :</label>
        <input type="file" name="photo" id="photo" accept=".jpg, .png, .sgv" />
      </fieldset>
      <fieldset>
        <label>Categoría :</label>
        <select name="categories">
          <option value="">Seleccionar...</option>
          <% categorias.forEach(categoria=>{%>
          <option value="<%= categoria.idcategory %>">
            <%= categoria.category %>
          </option>

          <% }) %>
        </select>
      </fieldset>

      <fieldset>
        <label for="">Talla :</label>
        <div class="modal-mr">
          <% tallas.forEach(talla=>{ %>
          <label for="<%= talla.size %>"><%= talla.size %> :</label>
          <input
            type="checkbox"
            id="<%= talla.size %>"
            name="sizes"
            value="<%= talla.idsize %>"
          />
        </div>
        <% }) %>
      </fieldset>
      <fieldset>
        <label>Tonalidad :</label>
        <% tonalidades.forEach(tonalidad=>{ %>
        <div class="modal-mr">
          <label for="<%= tonalidad.color%>"><%= tonalidad.color%> :</label>
          <input
            type="checkbox"
            id="<%= tonalidad.color%>"
            name="color"
            value="<%= tonalidad.idcolor%>"
          />
        </div>
        <% }) %>
      </fieldset>

      <label for="price">Precio :</label>
      <input
        type="text"
        id="price"
        placeholder="Precio del producto."
        name="price"
      />
      <button type="submit" class="button-products">Agregar</button>
    </form>
  </body>
</html>
