<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %></title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/admproduct.css" />
    <link rel="stylesheet" href="/static/css/cart.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5cd85102cd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form
      action="<%= product.idproduct %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <fieldset>
        <label for="name">Nombre :</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Introduce el nombre"
          value="<%= product.name %>"
        />
      </fieldset>
      <fieldset>
        <label for="description">Descripción :</label>
        <input
          type="textarea"
          name="description"
          id="description"
          placeholder="Introduce la descripcion"
          value="<%= product.descripcion != '' ? product.description  : null%>"
        />
      </fieldset>
      <fieldset>
        <label for="photo">Foto :</label>
        <input type="file" name="photo" id="photo" accept=".jpg, .png .sgv" />
      </fieldset>
      <fieldset>
        <label>Categoría</label>
        <select name="categories">
          <% categorias.forEach(categoria=>{%>
          <option value="<%= categoria.idcategory %>">
            <%= categoria.category %>
          </option>
          <% }) %>
        </select>
      </fieldset>

      <fieldset>
        <label for="">Talla :</label>
        <% tallas.forEach(talla=>{ %>
        <div class="modal-mr">
          <label for="<%= talla.size %>"><%= talla.size %> :</label>
          <input type="checkbox" id="<%= talla.size %>" name="sizes" value="<%=
          talla.idsize %>" <% if(product.sizes.length !== 0){
          product.sizes.forEach(size =>{ talla.idsize === size.idsize ?
          "checked" : null %> })} %> />
        </div>
        <% })%>
      </fieldset>

      <fieldset>
        <label>Tonalidad :</label>
        <% tonalidades.forEach(tonalidad=>{ %>
        <div class="modal-mr">
          <label for="<%= tonalidad .color%>"><%= tonalidad.color%> :</label>
          <input
            type="checkbox"
            id="claro"
            name="color"
            value="<%= tonalidad.idcolor%>"
            <%
            if(product.colors.length
          />
          0 ){product.colors.forEach(color =>{ %> <%= color.idcolor ===
          tonalidad.idcolor ? "checked" : null %> <% }) %> />
        </div>
        <% }}) %>
      </fieldset>

      <% }}) %>

      <fieldset>
        <label for="price">Precio :</label>

        <input
          type="text"
          id="price"
          name="price"
          value="<%= product.price ? product.price : null %>"
        />
      </fieldset>
      <button type="submit" class="button-products">Editar</button>
    </form>
  </body>
</html>
