<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumercé y tá</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/register.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5cd85102cd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include( '../partials/header' ) %>
    <main>
      <section class="box-form">
        <form
          action="/users/registro"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form">
           
              <h3 class="registrate">Editar Informacion</h3>
           
            <div class="form-fields1">
              <label for="name"></label>
              <input
                type="text"
                name="name"
                placeholder="Nombre de usuario"
                id="name"
              />
              <input
                type="text"
                name="phone"
                placeholder="Teléfono"
                id="phone"
              />
              <label for="photo">Sube una foto para tu perfil:</label>
              <input
                type="file"
                name="photo"
                id="photo"
                accept=".jpg, .png, .sgv"
                placeholder="Seleccione una foto de perfil"
              />
            </div>
            <div class="form-fields2">
              <select name="region" id="region">
                <option value="">- región -</option>
                <% regiones.forEach(region =>{ %>
                <option value="<%= region %>"><%= region %></option>
                <% }) %>
              </select>
              <select name="comuna" id="comuna">
                <option value="">Comuna</option>
                <% comunas.forEach(comuna =>{ %>
                <option value="<%= comuna %>"><%= comuna %></option>
                <% }) %>
              </select>
            </div>
            <div class="form-fields3">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Correo electrónico"
              />
              <input
                type="email"
                name="emailConfirmation"
                id="emailConfirmation"
                placeholder="Confirmar correo electrónico"
              />
            
            </div>
            <div class="form-button">
              <input type="submit" value="Guardar cambios" />
            </div>
          </div>
        </form>
      </section>
    </main>
    <%- include( '../partials/footer' ) %>
  </body>
</html>
