<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumercé y tá</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/register.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/profile.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5cd85102cd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include( '../partials/header' ) %>
    <main>
      <div class="wrapper">
        <div class="left">
          <img
            src="/static/images/avatars/<%=user.photo%>"
            width="130"
            height="130px"
          />

          <p>ID: <%= user.id%></p>

          <button class="btn">
            <a href="/users/editar_contrasena">Editar Contrasena</a>
          </button>
        </div>
        <div class="right">
          <div class="info">
            <h3>Informacion</h3>
            <div class="info_data">
              <div class="data">
                <h4>Nombre</h4>

                <p><%= user.name%></p>
              </div>

              <div class="data">
                <h4>Telefono</h4>
                <p><%= user.phone%></p>
              </div>
            </div>
          </div>
          <div class="info_data">
            <div class="data">
              <h4>Email</h4>
              <p><%= user.email%></p>
            </div>
          </div>
          <div class="projects">
            <div class="projects_data">
              <div class="data">
                <h4>Region</h4>
                <p>
                  <%= comuns.region.ordinal%> región <%= comuns.region.name %>
                </p>
              </div>
              <div class="data">
                <h4>Comuna</h4>

                <p><%= comuns.name%></p>
              </div>
            </div>
          </div>
          <div class="social_media">
            <button class="btn"><a href="/users/editar">Editar Info</a></button>
            <button class="btn">
              <a href="/users/logout">Cerrar Sesion</a>
            </button>
          </div>
        </div>
      </div>
    </main>
    <%- include( '../partials/footer' ) %>
  </body>
</html>
