<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumercé y tá</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/register.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5cd85102cd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include( '../partials/header' ) %>
    <main>
      <section class="box-form">
        <form
          action="/users/registro"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form">
            <div class="form-title">
              <h3>
                <a
                  href="/users/login"
                  class="inicia"
                  style="text-decoration: none"
                  >INICIA SESION</a
                >
              </h3>

              <h3 class="registrate">REGISTRATE</h3>
            </div>

            <div class="form-fields1">
              <label for="name"></label>
              <input
                type="text"
                name="name"
                placeholder="Nombre de usuario"
                id="name"
                class="<%= locals.errors && errors.name ? 'is-invalid': null %>"
                value="<%= locals.oldData && oldData.name ? oldData.name : null %>"
              />
              <% if (locals.errors && errors.name) { %>
              <p class="error-form"><%=errors.name.msg%></p>
              <% } %>

              <input
                type="text"
                name="phone"
                placeholder="Teléfono"
                id="phone"
                class="<%= locals.errors && errors.phone ? 'is-invalid': null %>"
                value="<%= locals.oldData && oldData.phone ? oldData.phone : null %>"
              />
              <% if (locals.errors && errors.phone) { %>
              <p class="error-form"><%=errors.phone.msg%></p>
              <% } %>
              <label for="photo">Sube una foto para tu perfil:</label>
              <input
                type="file"
                name="photo"
                id="photo"
                accept=".jpg, .png, .sgv"
                placeholder="Seleccione una foto de perfil"
              />
            </div>
            <div class="form-fields2">
              <select
                name="region"
                id="region"
                class="<%= locals.errors && errors.region ? 'is-invalid': null %>"
              >
                <option value="">- región -</option>
                <% regiones.forEach(region =>{ %>
                
                <option value="<%= region.idregion %>" 
                  <%= locals.oldData && parseInt(oldData.region) === region.idregion ? "selected" : null %>><%= region.name %></option>
                <% }) %>
              </select>
              <% if (locals.errors && errors.region) { %>
              <p class="error-form"><%=errors.region.msg%></p>
              <% } %>
              <select
                name="comuna"
                id="comuna"
                class="<%= locals.errors && errors.comuna ? 'is-invalid': null %>"
              >
                <option value="">Comuna</option>
                <% comunas.forEach(comuna =>{ %>
                <option value="<%= comuna.idcomuna %>" <%= locals.oldData && parseInt(oldData.comuna) === comuna.idcomuna ? "selected" : null %>><%= comuna.name %></option>
                <% }) %>
              </select>
              <% if (locals.errors && errors.comuna) { %>
              <p class="error-form"><%=errors.comuna.msg%></p>
              <% } %>
            </div>
            <div class="form-fields3">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Correo electrónico"
                class="<%= locals.errors && errors.email ? 'is-invalid': null %>"
                value="<%= locals.oldData && oldData.email ? oldData.email : null %>"
              />
              <% if (locals.errors && errors.email) { %>
              <p class="error-form"><%=errors.email.msg%></p>
              <% } %>
              <input
                type="email"
                name="emailConfirmation"
                id="emailConfirmation"
                placeholder="Confirmar correo electrónico"
                class="<%= locals.errors && errors.emailConfirmation ? 'is-invalid': null %>"
                value="<%= locals.oldData && oldData.emailConfirmation ? oldData.emailConfirmation : null %>"
              />
              <% if (locals.errors && errors.emailConfirmation) { %>
              <p class="error-form"><%=errors.emailConfirmation.msg%></p>
              <% } %>
              <input
                type="password"
                name="password"
                placeholder="Contraseña"
                id="password"
                class="<%= locals.errors && errors.password ? 'is-invalid': null %>"
              />
              <% if (locals.errors && errors.password) { %>
              <p class="error-form"><%=errors.password.msg%></p>
              <% } %>
              <input
                type="password"
                name="passwordConfirmation"
                placeholder="Confirmar contraseña"
                id="passwordConfirmation"
                class="<%= locals.errors && errors.passwordConfirmation ? 'is-invalid': null %>"
              />
              <% if (locals.errors && errors.passwordConfirmation) { %>
              <p class="error-form"><%=errors.passwordConfirmation.msg%></p>
              <% } %>
            </div>
            <div class="form-button">
              <input type="submit" value="Ingresar" />
            </div>
          </div>
        </form>
      </section>
    </main>
    <%- include( '../partials/footer' ) %>
  </body>
</html>
